<header id="header">
  <div class="header-overlay">
    <div class="container">
    <!-- <img src="images/logo.png" alt="TSG" /> -->
      <h1>The Shrine Group</h1>
      <h3>Web made simple</h3>
    </div> <!-- End container -->
  
    <div class="arrow-link">
      <a href="#what"><i class="fa fa-angle-down"></i></a>
    </div> 
  </div> <!-- End header-overlay -->
</header>

<div class="main-wrap stickem-container">
  <%= partial "views/navigation" %>
  <div class="sep-padding"></div> <!-- separator -->
  <%= partial "views/what_shrine" %>
  <%= partial "views/why_shrine" %>
  <%= partial "views/who_shrine" %>
  <%= partial "views/contact_shrine" %>
  <%= partial "views/footer" %>
</div> <!-- End stickem-container -->

<div class="page-loading"></div>
